* {
    margin: 0;
    padding: 0;
}

html,
.pageContent {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.body-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.input-error {
    border-color: red;
    outline: none;
    box-shadow: 0 0 4px red;
}

.pageContent {
    background-color: aliceblue;
    text-align: center;
}

.header {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 72px;
}

.instruction-1 {
    font-weight: 150;
    font-size: 20px;
    margin-bottom: 5px;
}

.example-1 {
    font-style: italic;
    margin-top: 2px;
}

.unitLabel {
    margin-bottom: 10px;
}

.selectUnitText {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
    text-align: justify;
}


.form-content input,
.form-content select {
  width: 200px;
  padding: 4px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.zip-form-row {
  display: grid;
  grid-template-columns: 150px 1fr;  /* label = 150px, input expands */
  align-items: center;
  font-weight: bold;
}

.zip-form-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: white;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 30px auto;
}


