* {
    margin: 0;
    padding: 0;
    font: -apple-system;
}

.pageContent {
    background-color: aliceblue; 
    text-align: center;
}
.bodyContent {
    text-align: center;
}

.conditionsIcon {
    font-size: 120px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.locationName {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 72px;
}

.conditions {
    font-size: 40px;
    font-weight: 200;
    margin-top: 10px;
    font: -apple-system;
}

.temperature {
    font-size: 65px;
    font-weight: 175;
    margin-top: 15px;
    margin-bottom: 100px;
    font: -apple-system;
}
.unitSelector {
    margin-top: 10px;
    margin-bottom: 10px;
}

