* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  margin-bottom: 0px;
}

.date-time-header {
  display: flex;
  justify-content: space-between;
  font-family: system-ui, sans-serif;
  font-size: 1.05rem;
  color: #555;
  font-weight: 500;
  position: relative;
}

input,
select {
  width: 30%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.weather-logo {
  max-height: 200px;
  max-width: 200px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  /* subtle shadow */
  transition: box-shadow 0.3s ease;
}

p {
  margin-bottom: 0;
}

.favorite-icon {
  border-radius: 5px;
}